/*!************************************************************************
 * \file Catalogue.css
* \author	 Kenzie Lim  | kenzie.l\@digipen.edu
 * \par Course: CSD3156
 * \date 25/03/2025
 * \brief
 * This file defines the style for Catalogue css.
 *
 * Copyright 2025 DigiPen Institute of Technology Singapore All Rights Reserved
 **************************************************************************/
.subtitile_div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item_price {
    font-size: 1.7em;
}